<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <%if Helper.is_logged_in?(session)%>
      <h1>Welcome <%=Helper.current_user(session).username%></h1>
      <%=Helper.current_user(session).username Helper.current_user(session).balance%>
    <%else%> 
      'You Must <a href="/">Log In</a> to View Your Balance'
    <%end%> 
  </body>
  <a href="/logout">Log Out</a>
</html>